.home-container{
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
}

.home-content{
    background-color: #FFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-title{
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.05em;
}

.text-subtitle{
    color: #9E9E9E;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.05em;
    margin-top: 30px;
    margin-bottom: 150px;
}

.home-text{
    padding-left: 100px;
}

.main-image{
    width: 100%;
}